*.egg-info
.idea
.vscode
__pycache__
.venv
uv.lock
.python-version
dist-newstyle/build/aarch64-osx/ghc-9.4.8/mULLER-0.1.0.0/x/muller/setup-config
.gitignore
dist-newstyle/build/aarch64-osx/ghc-9.4.8/mULLER-0.1.0.0/x/muller/build/muller/muller
dist-newstyle/build/aarch64-osx/ghc-9.4.8/mULLER-0.1.0.0/x/muller/build/muller/autogen/cabal_macros.h
dist-newstyle/build/aarch64-osx/ghc-9.4.8/mULLER-0.1.0.0/x/muller/build/muller/autogen/PackageInfo_mULLER.hs
dist-newstyle/build/aarch64-osx/ghc-9.4.8/mULLER-0.1.0.0/x/muller/build/muller/autogen/Paths_mULLER.hs
dist-newstyle/build/aarch64-osx/ghc-9.4.8/mULLER-0.1.0.0/x/muller/build/muller/muller-tmp/Main.hi
dist-newstyle/build/aarch64-osx/ghc-9.4.8/mULLER-0.1.0.0/x/muller/build/muller/muller-tmp/Main.o
dist-newstyle/build/aarch64-osx/ghc-9.4.8/mULLER-0.1.0.0/x/muller/cache/build
dist-newstyle/build/aarch64-osx/ghc-9.4.8/mULLER-0.1.0.0/x/muller/cache/config
dist-newstyle/build/aarch64-osx/ghc-9.4.8/mULLER-0.1.0.0/x/muller/cache/registration
dist-newstyle/build/aarch64-osx/ghc-9.4.8/mULLER-0.1.0.0/x/muller/package.conf.inplace/package.cache
dist-newstyle/build/aarch64-osx/ghc-9.4.8/mULLER-0.1.0.0/x/muller/package.conf.inplace/package.cache.lock
dist-newstyle/cache/compiler
dist-newstyle/cache/config
dist-newstyle/cache/elaborated-plan
dist-newstyle/cache/improved-plan
dist-newstyle/cache/plan.json
dist-newstyle/cache/solver-plan
dist-newstyle/cache/source-hashes
dist-newstyle/cache/up-to-date
dist-newstyle/packagedb/ghc-9.4.8/package.cache
dist-newstyle/packagedb/ghc-9.4.8/package.cache.lock
.gitignore
dist-newstyle/tmp/src-58147/invariant-0.6.4/CHANGELOG.md
dist-newstyle